# This workflow will package a .NET project

name: .NET Package

on: [push]

jobs:
  package:

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: capture build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Artifacts
        path: hamarb123.Analyzers.Package/bin/Release/*.nupkg
    - name: upload
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: hamarb123.Analyzers.Package/bin/Release/*.nupkg
        draft: true
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
